<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to RFQ</title>
</head>
<body>
	<h2>Welcome to 'Request for quote'</h2>
{#    {% for k in user.keys() %}#}
{#    <p> {{ k }}</p>#}
{#    {% endfor %}#}
{##}
{#	{% for website in websites %}#}
{#    <p> {{ website }}</p>#}
{#    {% endfor %}#}
	<h3>Here are our products</h3>
	<table>
		<thead>
			<th>Product Number</th>
			<th>Product Category</th>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.number }}</td>
					<td>{{ product.category }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<h4>Test input box</h4>
	<form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>




	<br>
	<br>
	<form action="form_action.asp" method="get">
  		RFQ_ID: <input type="text" name="fname" />
  		Account ID: <input type="text" name="lname" />
  		<input type="submit" value="Submit" />
	</form>
	<br>

	<br>
	<script type=text/javascript>
	  $(function() {
		$('a#calculate').bind('click', function() {
		  $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
			a: $('input[name="a"]').val(),
			b: $('input[name="b"]').val()
		  }, function(data) {
			$("#result").text(data.result);
		  });
		  return false;
		});
	  });
	</script>

	<h1>jQuery Example</h1>
	<p><input type=text size=5 name=a> +
	   <input type=text size=5 name=b> =
	   <span id=result>?</span>
	<p><a href=# id=calculate>calculate server side</a>
	<br>
</body>
</html>